@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap');
.cart-page-container{
    color: white;
    font-family: "oswald";
    display: flex;
}
.cart-page-card{
    background-color: #070720;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 60%;
    margin: 2rem;
}
.cart-page-details
{
    background-color: #070720;
    position: fixed;
    left:65%;
    top:20%;
    border: 2px solid white;
    height: 50%;
    width: 30%;
}
.cart-card-container{
    display: flex;
    border: 1px solid white;
    margin: 0.5rem;
    border-radius: 1rem;
    height: 30%;
}
.cart-card-thumbnail{
    border-radius: 1rem;
    overflow: hidden;
    width: 50%;
    margin: 1rem 1rem 0;
}
#cart-card-discount
{
    margin-left:1rem;
    color: #39FF14;
    font-weight: 400;
}
.cart-card-price
{
    font-size: 1.5rem;
}
#cart-card-original-price{
    text-decoration: line-through;
    color:#D3D3D3;
    margin-left:1rem;
}
.cart-card-name
{
    font-size: 2.25rem;
    width: fit-content;
    padding: 0px;
    margin-top: 0.5rem;
}
.cart-card-details
{
    width: 50%;
    text-align: left;
}
.cart-card-category
{
    font-size: 1.5rem;
}
#cart-card-decrement{
    cursor: pointer;
    font-size: 1.5rem;
    padding-bottom: 0.15rem;
    color: white;
    background-color: #212529;
    border-radius: 2.5rem;
    border: 1px solid white;
    margin: 0.5rem;
    width: 1.75rem;
    font-family: "oswald";
}
#cart-card-increment{
    cursor: pointer;
    font-size: 1.5rem;
    padding-bottom: 0.15rem;
    width: 1.75rem;
    color: white;
    background-color: #212529;
    border-radius: 2rem;
    border: 1px solid white;
    margin: 0.5rem;
    font-family: "oswald";

}
#cart-card-quantity{
font-size: 1.25rem;
width: 1.75rem;
border:1px solid white;
padding: 0.3rem 0.5rem;
background-color: #212529;
border-radius: 2rem;
}
#cart-card-quantity-text
{
    font-size: 1.5rem;
}
#cart-card-remove
{
    cursor: pointer;
    width: 49%;
    font-size: 1.25rem;
    margin: 0.75rem 0rem 0.5rem;
    background-color: #212529;
    border:1px solid white;
    color: white;
    font-family: "oswald";
    padding: 0.25rem;
    border-radius: 1rem;
    
}
#cart-card-remove:hover
{
    background-color: #e53637;
}
#cart-card-wishlist
{
    cursor: pointer;
    width: 49%;
    font-size: 1.25rem;
    margin: 0.75rem 0.25rem 0.5rem;
    background-color: #212529;
    border:1px solid white;
    color: white;
    font-family: "oswald";
    padding: 0.25rem;
    border-radius: 1rem;
}
#cart-card-wishlist:hover
{
    background-color: #29b9f0ff;
}
.cart-summary
{
    display: flex;
    flex-direction: column;
}
.cart-summary-item
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.cart-summary-title
{
    font-size: 2.5rem;
    margin: 1rem ;
}
.cart-summary-item-container
{
    margin: 0 1rem;
}
hr{
    margin: 0 1rem 1rem;
}
.amount
{
    font-size: 2rem;
}
.delivery
{
    margin-bottom: 1rem;
}
.cart-summary-savings
{
    color:#39FF14;
    font-size: 1.25rem;
}
#cart-checkout
{
    width: 100%;
    font-size: 1.5rem;
    margin: 0.75rem 0.25rem 0.5rem;
    background-color: #29b9f0ff;
    border:1px solid white;
    color: white;
    font-family: "oswald";
    padding: 0.25rem;
    border-radius: 1rem;
    cursor: pointer;
}
