@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap');

.AuthLogin-container
{
  margin: 0rem;
  padding: 0rem;
  min-height: 30rem;
}
/* .login-image {
  position: relative;
  text-align: center;
  padding: 0.25rem 0 0;
} */


.login-image{
    position: absolute;
    top: 0;
    object-fit: cover;
    margin: 0rem;
    z-index: -300;
}
.login-image-image
{
  
  width: 99vw;
  height: auto;
}

.Login-container {
  font-family: "Oswald";
  position: absolute;
  text-align: left;
  width: 30%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  color: white;
}

.Login-container input {
  display: block;
  font-size: 1.5rem;
  width: 98%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.Login-container button {
  width: 50%;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "oswald";
  display: block;
  padding: 0.5rem 1rem;
  background-color: #e53637;
  color: white;
  border: none;
  cursor: pointer;
}

#login-heading {
    color: white;
  text-align: center;
  font-size: 4rem;
}

#login-email {
    color: white;
  font-size: 2rem;
}

#Login-email-error
{
    color: #e53637;
  font-size: 1.5rem;
}
#login-password {
color: white;
  font-size: 2rem;
}

.Login-container button:hover
{
background-color: #4484ce;
}
