@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 5.57rem;
}

nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  background-color: #070720;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Oswald';
  height: fit-content;
  z-index: 20000;
}

ul {
  padding: 0.5rem;
}

#title {
  text-decoration: none;
  margin-left: 1.5rem;
  width: 12rem;
  font-size: 1.25rem;
  color: white;
  padding: 1.5rem;
}

.pages {
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
  margin: 0.25rem;
  padding: 0.25rem;
}

.search-bar
{
  width: 100%;
  height: 2rem;
  border: 2px solid white;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 1rem;
  font-family: "oswald";
  font-size: 1rem;
}
.search-bar-div
{
  display: flex;
  align-items: center;
  width: 45%;
}
.pages:hover {
  color: #4484ce;
}
#title:hover{
  color: #e53637;

}

@media (max-width: 768px)
{
  nav{
    height: fit-content;
  }
  .pages {
    margin: 0.2rem;
    padding:0.2rem;
    font-size: 1rem;
  }
  ul{
    padding: 0.25rem;
  }
  #title {
    margin-left: 1rem;
    width: 8rem;
    font-size: 1rem;
    color: white;
    padding: 0.25rem;
  }
  .search-bar-div
{
  display: flex;
  align-items: center;
  width: 36%;
}
}

@media (max-width: 480px)
{
  .pages {
    margin: 0.5rem;
    padding:0.5rem;
    font-size: 1rem;
  }
  #title {
    margin-left: 0.5rem;
    width: 10rem;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
  }
  .search-bar-div
{
  display: flex;
  align-items: center;
  width: 70%;
}
nav{
  flex-direction: column;
  height: fit-content;
}
}