.checkout-page-details
{
    background-color: #070720;
    margin-top: 3rem;
    margin-left: 3rem;
    border: 2px solid white;
    height: fit-content;
    width: 30%;
}
.cart-summary-item-list
{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    font-size: 1.5rem;
}
.checkout-page-container
{
    display: flex;
}
.display-addresses
{
    width: 60vw;
}
.checkout-address-card
{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 2.5rem;
    border: 2px solid #29b9f0ff;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.checkout-address-card:hover{
    background-color: #29b9f0ff;
}

.cart-summary-address
{
text-align: left;
margin: 1rem;
}
.cart-summary-address-header
{
    font-size: 2rem;
}
.cart-summary-address-name{
    font-size: 1.75rem;
    font-weight: bolder;
}
.order-button
{
    font-family: "oswald";
    font-size: 1.5rem;
    background-color: #39FF14;
    color: white;
    padding: 0rem 0.5rem;
    border: 2px solid white;
    border-radius: 0.8rem;
    margin: 1rem;
}